<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings file="O:\SOFTWARE\TRIT\R\RAddinSettings.config">
    <add key="ExePath" value="C:\Program Files\R\R-3.4.0\bin\x64\Rscript.exe" />
    <add key="rHome" value="C:\Program Files\R\R-3.4.0" />
    <add key="rPath64bit" value="bin\x64" />
    <add key="rPath32bit" value="bin\i386" />
    <add key="presetSheetButtonsCount" value="24" />
    <add key="runShell" value="True" />
    <add key="runRdotNet" value="False" />
  </appSettings>
</configuration>